interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/RevenueFromContractWithCustomerExcludingAssessedTax.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/RevenueFromContractWithCustomerExcludingAssessedTax.json</Key><RequestId>X60V6R06NSEHQYFC</RequestId><HostId>zhuM5ZAD2R2Js9YBb/6kHeoC32ZiEhf7+PDDPBLW9KvbhBSAOIBA3GpBJKNwBVrq4Gk9SSAM7Z4=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8Y9HBFIAMEFmQ=
      x-amzn-RequestId:
      - 94234f25-c2e4-4c82-b343-c946e4e98c37
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/SalesRevenueNet.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"SalesRevenueNet","label":"Revenue,
        Net (Deprecated 2018-01-31)","description":"Total revenue from sale of goods
        and services rendered during the reporting period, in the normal course of
        business, reduced by sales returns and allowances, and sales discounts.","entityName":"Google
        Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":16593986000,"accn":"0001193125-10-030774","fy":2009,"fp":"FY","form":"10-K","filed":"2010-02-12","frame":"CY2007"},{"start":"2008-01-01","end":"2008-06-30","val":10553255000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04"},{"start":"2008-04-01","end":"2008-06-30","val":5367212000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04","frame":"CY2008Q2"},{"start":"2008-01-01","end":"2008-09-30","val":16094646000,"accn":"0001193125-09-222384","fy":2009,"fp":"Q3","form":"10-Q","filed":"2009-11-04"},{"start":"2008-07-01","end":"2008-09-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/SalesRevenueGoodsNet.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/SalesRevenueGoodsNet.json</Key><RequestId>X60G64JKH7XRKMBQ</RequestId><HostId>3nubx/VGdAjtYGHQvxvqprgi6YTPYyGwJbD+5G8tVnMI9qGjyBiN3J6ZiU3AZA8LcdZRB0Mequ0=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZEHsUIAMEFTg=
      x-amzn-RequestId:
      - e6b1450d-6538-4f90-8dca-78868fc04625
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/Revenues.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"Revenues","label":"Revenues","description":"Amount
        of revenue recognized from goods sold, services rendered, insurance premiums,
        or other activities that constitute an earning process. Includes, but is not
        limited to, investment and interest income be[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsAndServicesSold.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsAndServicesSold.json</Key><RequestId>6D9W80A2R84MJBTV</RequestId><HostId>/FfOAyfbYR4K3ygFvXc9wfVrMS4azbHyE3C/XgodKCey0uQcPLtbTGpeWL4QeC8MJbMJtdOCefY=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZLHx_oAMEFTg=
      x-amzn-RequestId:
      - 3cf69d5c-eee3-4125-bd87-f363c3645405
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsSold.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsSold.json</Key><RequestId>6D9VTK1N5JH5QNE8</RequestId><HostId>j033JrSK8hBAvmtfvQPY5Y+aucUDmhBV8Ogc+P4+H68el4wVm//1Kgdsre+aDbJqVhOqbE4CzRs=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZOFppoAMEvew=
      x-amzn-RequestId:
      - 9675415b-bea2-4d97-aeaa-1ca9fdc0ab16
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfRevenue.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CostOfRevenue","label":"Cost
        of Revenue","description":"The aggregate cost of goods produced and sold and
        services rendered during the reporting period.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":6649085000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostsAndExpenses.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CostsAndExpenses","label":"Costs
        and Expenses","description":"Total costs of sales and operating expenses for
        the period.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":11509586000,"accn":"0001193125-10-0307[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/OperatingIncomeLoss.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"OperatingIncomeLoss","label":"Operating
        Income (Loss)","description":"The net result for the period of deducting operating
        expenses from operating revenues.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/NetIncomeLoss.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"NetIncomeLoss","label":"Net
        Income (Loss) Attributable to Parent","description":"The portion of profit
        or loss for the period, net of income taxes, which is attributable to the
        parent.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationDepletionAndAmortization.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationDepletionAndAmortization.json</Key><RequestId>JA0P5XKR99KBZYR1</RequestId><HostId>HXozqjtuMXneZ7sbWC0kcVj9mPAz3eDso7GU/GWMAPAaZAaR163bNiyWXNomwmnJR7dG4HhlMFM=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZgH77oAMEAZg=
      x-amzn-RequestId:
      - 9468f7b8-ed4a-435c-9d59-0f62f11f04b8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAndAmortization.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAndAmortization.json</Key><RequestId>JA0WNAYXCT178SZS</RequestId><HostId>QDrT80Pvkpt/BPae2MFM/4MVrr7UMGBnyrDtddScJxnin/Coz33D1ILBc5/+6t+WJP48EhP5Lbg=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZjHHooAMEg4w=
      x-amzn-RequestId:
      - f2fde4f1-b709-41e3-bf04-6a397c735543
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAmortizationAndAccretionNet.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAmortizationAndAccretionNet.json</Key><RequestId>FKYJF52JRPNA829Y</RequestId><HostId>Zv4bZ0y76m99Ze2wpyDVtUEBMBoMi2Eh5cJJS6XCcX5A81Hy2dw7X998xSIwSrvZeajeL2UyG/s=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZmHscIAMEMBw=
      x-amzn-RequestId:
      - 67a1aefb-88e9-4629-8abc-c33201f44eac
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/Depreciation.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"Depreciation","label":"Depreciation","description":"The
        amount of expense recognized in the current period that reflects the allocation
        of the cost of tangible assets over the assets'' useful lives. Includes production
        and non-production related d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAmortizationAndOther.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAmortizationAndOther.json</Key><RequestId>FKYGJABDSEC9PERY</RequestId><HostId>w0PityMWUHJe1UlGi2D9CkL6FyVV9greZ2dQVGIUpWVZPTKZ1Brgl6YIXgExzbKeb9Ohl7MgxBI=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZsHoAIAMEJNQ=
      x-amzn-RequestId:
      - 3ddde73c-b766-445f-a93b-539b57ebcc78
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/OtherDepreciationAndAmortization.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/OtherDepreciationAndAmortization.json</Key><RequestId>XT634Y8684VGNGW4</RequestId><HostId>loNsGx2Nr+Q2pjKS3wZda9lqmhKaKovvidWtyE8FUjymsaLul/q1/+PtTPbvNGROMKIlmgzTqf8=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8ZvHGZIAMEpEA=
      x-amzn-RequestId:
      - 522f0a83-af60-42f6-8bb5-bb48007cc5ae
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/NetCashProvidedByUsedInOperatingActivities.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"NetCashProvidedByUsedInOperatingActivities","label":"Net
        Cash Provided by (Used in) Operating Activities","description":"Amount of
        cash inflow (outflow) from operating activities, including discontinued operations.
        Op[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquireProductiveAssets.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquireProductiveAssets.json</Key><RequestId>XT671YDSRHWVQWC8</RequestId><HostId>KoLQLffQ7ga8x8nwzw2sNSbFrnapyFoctax6XW+ZulIbs1nX7hXGA+0YSvLnyyINqXSlT5QSU3U=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8Z2GiOoAMEjDw=
      x-amzn-RequestId:
      - 814bf282-006c-4148-a5e6-5d67bcb76a0b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquirePropertyPlantAndEquipment.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"PaymentsToAcquirePropertyPlantAndEquipment","label":"Payments
        to Acquire Property, Plant, and Equipment","description":"The cash outflow
        associated with the acquisition of long-lived, physical assets that are used
        in [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/EarningsPerShareDiluted.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"EarningsPerShareDiluted","label":"Earnings
        Per Share, Diluted","description":"The amount of net income (loss) for the
        period available to each share of common stock or common unit outstanding
        during the reporting period and to each shar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CommonStockSharesOutstanding.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CommonStockSharesOutstanding","label":"Common
        Stock, Shares, Outstanding","description":"Number of shares of common stock
        outstanding. Common stock represent the ownership interest in a corporation.","entityName":"Google
        Inc.","units":{"shares":[{"end":"2008-12-31","val":315114000,"accn":"0001193125-10-030774","fy":2009,"fp":"FY","form":"10-K","filed":"2010-02-12","frame":"CY2008Q4I"},{"end":"2008-12-31","val":315114000,"accn":"0001193125-09-222384","fy":2009,"fp":"Q3","form":"10-Q","filed":"2009-11-04"},{"end":"2008-12-31","val":315114000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04"},{"end":"2009-06-30","val":316422000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001652044/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001652044/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json</Key><RequestId>R132RQ6VM6HDY0P2</RequestId><HostId>UK1KLlzFPlQNHMjQ3ih0KbjZT4K1CS1GdHRqMazOasQpD4TAhcPjSck8pvDztzDQ26gouKQDy9E=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - Dy8bBGezoAMEEGg=
      x-amzn-RequestId:
      - 848f138c-9a6a-4b33-8249-733967f30471
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001652044/us-gaap/EarningsPerShareBasic.json
  response:
    body:
      string: '{"cik":1652044,"taxonomy":"us-gaap","tag":"EarningsPerShareBasic","label":"Earnings
        Per Share, Basic","description":"The amount of net income (loss) for the period
        per each share of common stock or unit outstanding during the reporting period.","entityName":"Alphabet
        Inc.","units"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001652044/us-gaap/WeightedAverageNumberOfDilutedSharesOutstanding.json
  response:
    body:
      string: '{"cik":1652044,"taxonomy":"us-gaap","tag":"WeightedAverageNumberOfDilutedSharesOutstanding","label":"Weighted
        Average Number of Shares Outstanding, Diluted","description":"The average
        number of shares or units issued and outstanding that are used in calculating
 [...]
