interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/RevenueFromContractWithCustomerExcludingAssessedTax.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"RevenueFromContractWithCustomerExcludingAssessedTax","label":"Revenue
        from Contract with Customer, Excluding Assessed Tax","description":"Amount,
        excluding tax collected from customer, of revenue from satisfaction of performance
        obligation by transferring promised good or service to customer. Tax collected
        from customer is tax assessed by governmental authority that is both imposed
        on and concurrent with specific revenue-producing transaction, including,
        but not limited to, sales, use, value added and excise.","entityName":"AMAZON
        COM INC","units":{"USD":[{"start":"2016-01-01","end":"2016-12-31","val":135987000000,"accn":"0001018724-19-000004","fy":2018,"fp":"FY","form":"10-K","filed":"2019-02-01","frame":"CY2016"},{"start":"2017-01-01","end":"2017-03-31","val":35714000000,"accn":"0001018724-19-000004","fy":2018,"fp":"FY","form":"10-K","filed":"2019-02-01","frame":"CY2017Q1"},{"start":"2017-04-01","end":"2017-06-30","val":37955000000,"accn":"0001018724-19-000004","fy":2018,"fp":"FY","form":"10-K","filed":"2019-02-01","frame":"CY2017Q2"},{"start":"2017-01-01","end":"2017-09-30","val":117413000000,"accn":"0001018724-18-000159","fy":2018,"fp":"Q3","form":"10-Q","filed":"2018-10-26"},{"start":"2017-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/SalesRevenueNet.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"SalesRevenueNet","label":"Revenue,
        Net (Deprecated 2018-01-31)","description":"Total revenue from sale of goods
        and services rendered during the reporting period, in the normal course of
        business, reduced by sales returns and allowances, and sa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/Revenues.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001018724/us-gaap/Revenues.json</Key><RequestId>5721S0TCHP9AYP3N</RequestId><HostId>x2L0Xurfzgtg1ct9N0sFDtFN3inOPe8INx2MQIzhkjVacc8FHEuQ0zeHbRhHjbcmf8c+t35Y6XU=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - B2buzEsdoAMES8g=
      x-amzn-RequestId:
      - 86db255e-6616-46af-9608-c94e21f2729b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/CostOfGoodsAndServicesSold.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"CostOfGoodsAndServicesSold","label":"Cost
        of Goods and Services Sold","description":"The aggregate costs related to
        goods produced and sold and services rendered by an entity during the reporting
        period. This excludes costs incurred [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/CostOfRevenue.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001018724/us-gaap/CostOfRevenue.json</Key><RequestId>TWQY70JXQ8AJZXVS</RequestId><HostId>SFDwTxeg+LMDOW6ZtrVBwP56gi7KqqJqsfGyRtgcQPp2z/nNNRkHCU6v+3GR8986nWEvZ6YvHiM=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - B2bu7ElaoAMEaxg=
      x-amzn-RequestId:
      - d8b9cf42-81ce-495b-b4dd-5d6c9a97675c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/CostsAndExpenses.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"CostsAndExpenses","label":"Costs
        and Expenses","description":"Total costs of sales and operating expenses for
        the period.","entityName":"AMAZON COM INC","units":{"USD":[{"start":"2008-01-01","end":"2008-12-31","val":18324000000,"accn":"0001193125-11-0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/OperatingIncomeLoss.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"OperatingIncomeLoss","label":"Operating
        Income (Loss)","description":"The net result for the period of deducting operating
        expenses from operating revenues.","entityName":"AMAZON COM INC","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","va[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/NetIncomeLoss.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"NetIncomeLoss","label":"Net
        Income (Loss) Attributable to Parent","description":"The portion of profit
        or loss for the period, net of income taxes, which is attributable to the
        parent.","entityName":"AMAZON COM INC","units":{"USD":[{"start":"2007[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/DepreciationDepletionAndAmortization.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"DepreciationDepletionAndAmortization","label":"Depreciation,
        Depletion and Amortization","description":"The aggregate expense recognized
        in the current period that allocates the cost of tangible assets, intangible
        assets, o[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/DepreciationAndAmortization.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"DepreciationAndAmortization","label":"Depreciation,
        Depletion and Amortization, Nonproduction","description":"The current period
        expense charged against earnings on long-lived, physical assets not used in
        production, and which are n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/Depreciation.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"Depreciation","label":"Depreciation","description":"The
        amount of expense recognized in the current period that reflects the allocation
        of the cost of tangible assets over the assets'' useful lives. Includes production
        and non-production related d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/NetCashProvidedByUsedInOperatingActivities.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"NetCashProvidedByUsedInOperatingActivities","label":"Net
        Cash Provided by (Used in) Operating Activities","description":"Amount of
        cash inflow (outflow) from operating activities, including discontinued operations.
        Op[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001018724/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json</Key><RequestId>HBJZ8WSGF9Z6BTZS</RequestId><HostId>Ou0RybGxh9pZdhsGIP+nbrMWeRAoo8mzGWxbnzMGliGqccl0KhgbQ3NdJ/9wKLdPBZ+yBO81Bdg=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - B2bviGxlIAMEVDw=
      x-amzn-RequestId:
      - 7aa1c434-3a99-4ef2-b8c6-04e10409eb4a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/PaymentsToAcquireProductiveAssets.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"PaymentsToAcquireProductiveAssets","label":"Payments
        to Acquire Productive Assets","description":"The cash outflow for purchases
        of and capital improvements on property, plant and equipment (capital expenditures),
        software, an[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/PaymentsToAcquirePropertyPlantAndEquipment.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"PaymentsToAcquirePropertyPlantAndEquipment","label":"Payments
        to Acquire Property, Plant, and Equipment","description":"The cash outflow
        associated with the acquisition of long-lived, physical assets that are used
        in [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/EarningsPerShareDiluted.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"EarningsPerShareDiluted","label":"Earnings
        Per Share, Diluted","description":"The amount of net income (loss) for the
        period available to each share of common stock or common unit outstanding
        during the reporting period and to each shar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/EarningsPerShareBasic.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"EarningsPerShareBasic","label":"Earnings
        Per Share, Basic","description":"The amount of net income (loss) for the period
        per each share of common stock or unit outstanding during the reporting period.","entityName":"AMAZON
        COM INC","units[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001018724/us-gaap/CommonStockSharesOutstanding.json
  response:
    body:
      string: '{"cik":1018724,"taxonomy":"us-gaap","tag":"CommonStockSharesOutstanding","label":"Common
        Stock, Shares, Outstanding","description":"Number of shares of common stock
        outstanding. Common stock represent the ownership interest in a corporation.","entityName":"AMAZON
        COM INC","units":{"shares":[{"end":"2008-12-31","val":428000000,"accn":"0001193125-09-154174","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-07-24"},{"end":"2008-12-31","val":428000000,"accn":"0001193125-09-212134","fy":2009,"fp":"Q3","form":"10-Q","filed":"2009-10-23"},{"end":"2008-12-31","val":428000000,"accn":"0001193125-10-016098","fy":2009,"fp":"FY","form":"10-K","filed":"2010-01-29","frame":"CY2008Q4I"},{"end":"2009-06-30","val":432000000,"accn":"0001193125-09-154174","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009[...]
