interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/RevenueFromContractWithCustomerExcludingAssessedTax.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/RevenueFromContractWithCustomerExcludingAssessedTax.json</Key><RequestId>8XSQT1CS9E9G12JJ</RequestId><HostId>SEynfNcmjNOXVTS1IVnOuE13wjJ4WIsLI92opjm4oBFAAcpSpRsds25IL38BOl5vKodvQOeak/s=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWolpFS-oAMEkZQ=
      x-amzn-RequestId:
      - eb8ac8a5-34b8-4192-8bf3-99f9f23f71e3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/SalesRevenueNet.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"SalesRevenueNet","label":"Revenue,
        Net (Deprecated 2018-01-31)","description":"Total revenue from sale of goods
        and services rendered during the reporting period, in the normal course of
        business, reduced by sales returns and allowances, and sales discounts.","entityName":"Google
        Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":16593986000,"accn":"0001193125-10-030774","fy":2009,"fp":"FY","form":"10-K","filed":"2010-02-12","frame":"CY2007"},{"start":"2008-01-01","end":"2008-06-30","val":10553255000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04"},{"start":"2008-04-01","end":"2008-06-30","val":5367212000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04","frame":"CY2008Q2"},{"start":"2008-01-01","end":"2008-09-30","val":16094646000,"accn":"0001193125-09-222384","fy":2009,"fp":"Q3","form":"10-Q","filed":"2009-11-04"},{"start":"2008-07-01","end":"2008-09-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/Revenues.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"Revenues","label":"Revenues","description":"Amount
        of revenue recognized from goods sold, services rendered, insurance premiums,
        or other activities that constitute an earning process. Includes, but is not
        limited to, investment and interest income be[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsAndServicesSold.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfGoodsAndServicesSold.json</Key><RequestId>980XMX6WEBTEB867</RequestId><HostId>0NDqQvvgEhNfEsUD65FDUGiCOaH1YuMIv/PM6m4iz0JidzfTd1nUwlRrEuFm/lQDqnlgMKqsJsA=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWol0GKNoAMEvTw=
      x-amzn-RequestId:
      - ee37bfa6-9744-486b-aac4-ae543ea3789a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostOfRevenue.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CostOfRevenue","label":"Cost
        of Revenue","description":"The aggregate cost of goods produced and sold and
        services rendered during the reporting period.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":6649085000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CostsAndExpenses.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CostsAndExpenses","label":"Costs
        and Expenses","description":"Total costs of sales and operating expenses for
        the period.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":11509586000,"accn":"0001193125-10-0307[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/OperatingIncomeLoss.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"OperatingIncomeLoss","label":"Operating
        Income (Loss)","description":"The net result for the period of deducting operating
        expenses from operating revenues.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01-01","end":"2007-12-31","val":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/NetIncomeLoss.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"NetIncomeLoss","label":"Net
        Income (Loss) Attributable to Parent","description":"The portion of profit
        or loss for the period, net of income taxes, which is attributable to the
        parent.","entityName":"Google Inc.","units":{"USD":[{"start":"2007-01[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationDepletionAndAmortization.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationDepletionAndAmortization.json</Key><RequestId>BJAHNZZHDEK07AG6</RequestId><HostId>Bu22yqwujF/GxEVfTalFrlnOjt2/CjX7Ru7AdBVo0qRDgRl/Qtti1o+hP4DltHaCBP/4KZlizHg=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWomGE4SIAMEnjA=
      x-amzn-RequestId:
      - 3b8f1d2f-a268-4f41-b601-8c7d99f0487d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAndAmortization.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/DepreciationAndAmortization.json</Key><RequestId>V458V14P7PVEMMZE</RequestId><HostId>ZJy1bsd0i7HP0UkHGLzRo4Epd7vFh2au6GSxV7gbi+QcZqo0ydt8I6IwrAcNGTpZ+quNc0nT244=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWomJFC_IAMEtGg=
      x-amzn-RequestId:
      - c81be9f4-873e-4025-a6e9-1fb5c650a463
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/Depreciation.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"Depreciation","label":"Depreciation","description":"The
        amount of expense recognized in the current period that reflects the allocation
        of the cost of tangible assets over the assets'' useful lives. Includes production
        and non-production related d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/NetCashProvidedByUsedInOperatingActivities.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"NetCashProvidedByUsedInOperatingActivities","label":"Net
        Cash Provided by (Used in) Operating Activities","description":"Amount of
        cash inflow (outflow) from operating activities, including discontinued operations.
        Op[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/NetCashProvidedByUsedInOperatingActivitiesContinuingOperations.json</Key><RequestId>1EBS8QQJW6KHATJ1</RequestId><HostId>iQRngpnEAlTO8XPwfnqQlaxjuEloReDdoWz5/FJUfXj9pHoeymdxPxTDNczmAoL6RLR71cDp8ng=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWomSFvBIAMErMg=
      x-amzn-RequestId:
      - 3add760a-2977-4f86-add9-c82276a3cf97
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquireProductiveAssets.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquireProductiveAssets.json</Key><RequestId>1EBVJC2HBX7DT4JS</RequestId><HostId>paZx+hYorA3/r5/OuPOCRYr+ficqcZ5/LzzV7zDISHimmQKDHq+sHKjEVbMADHvFAIk4iyNU03c=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
      x-amz-apigw-id:
      - DWomVErPoAMEspA=
      x-amzn-RequestId:
      - 759fc83c-6c92-49d3-846c-12421b19a11a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/PaymentsToAcquirePropertyPlantAndEquipment.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"PaymentsToAcquirePropertyPlantAndEquipment","label":"Payments
        to Acquire Property, Plant, and Equipment","description":"The cash outflow
        associated with the acquisition of long-lived, physical assets that are used
        in [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/EarningsPerShareDiluted.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"EarningsPerShareDiluted","label":"Earnings
        Per Share, Diluted","description":"The amount of net income (loss) for the
        period available to each share of common stock or common unit outstanding
        during the reporting period and to each shar[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/EarningsPerShareBasic.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"EarningsPerShareBasic","label":"Earnings
        Per Share, Basic","description":"The amount of net income (loss) for the period
        per each share of common stock or unit outstanding during the reporting period.","entityName":"Google
        Inc.","units":{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001288776/us-gaap/CommonStockSharesOutstanding.json
  response:
    body:
      string: '{"cik":1288776,"taxonomy":"us-gaap","tag":"CommonStockSharesOutstanding","label":"Common
        Stock, Shares, Outstanding","description":"Number of shares of common stock
        outstanding. Common stock represent the ownership interest in a corporation.","entityName":"Google
        Inc.","units":{"shares":[{"end":"2008-12-31","val":315114000,"accn":"0001193125-10-030774","fy":2009,"fp":"FY","form":"10-K","filed":"2010-02-12","frame":"CY2008Q4I"},{"end":"2008-12-31","val":315114000,"accn":"0001193125-09-222384","fy":2009,"fp":"Q3","form":"10-Q","filed":"2009-11-04"},{"end":"2008-12-31","val":315114000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009-08-04"},{"end":"2009-06-30","val":316422000,"accn":"0001193125-09-163845","fy":2009,"fp":"Q2","form":"10-Q","filed":"2009[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.sec.gov/api/xbrl/companyconcept/CIK0001652044/us-gaap/WeightedAverageNumberOfDilutedSharesOutstanding.json
  response:
    body:
      string: '{"cik":1652044,"taxonomy":"us-gaap","tag":"WeightedAverageNumberOfDilutedSharesOutstanding","label":"Weighted
        Average Number of Shares Outstanding, Diluted","description":"The average
        number of shares or units issued and outstanding that are used in calculating
 [...]
